@import "tailwindcss";

@theme {
    --color-Groove: #802BB1;
    --color-PastelPurple: #564F6F;
    --color-Mute: #4C495D;
    --color-PaleForest: #D1D7E0;
    --color-DeepForest: #2d283e;
}

*,
*::after,
*::before {
    font-family: inherit;
    box-sizing: border-box;
}

html,
body {
  font-family: Helvetica;
  background-color: var(--color-gray-950);
  color: var(--color-Groove);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

button {
  cursor: pointer;
}
